<select class="form-control" aria-label="Select an option">
  <option value="" disabled selected>Select your option</option>
  <optgroup label="Group 1">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
  </optgroup>
  <optgroup label="Group 2">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
  </optgroup>
</select>