<div class="radio">
    <input type="radio" name="radio1" id="radio1" value="option1">
    <label for="radio1">Default</label>
</div>
<div class="radio radio-primary">
    <input type="radio" name="radio1" id="radio2" value="option2">
    <label for="radio2">Primary</label>
</div>
<div class="radio radio-info">
    <input type="radio" name="radio1" id="radio3" value="option3">
    <label for="radio3">Info</label>
</div>
<div class="radio radio-success">
    <input type="radio" name="radio1" id="radio4" value="option4">
    <label for="radio4">Success</label>
</div>
<div class="radio radio-warning">
    <input type="radio" name="radio1" id="radio5" value="option5">
    <label for="radio5">Warning</label>
</div>
<div class="radio radio-danger">
    <input type="radio" name="radio1" id="radio6" value="option6">
    <label for="radio6">Danger</label>
</div>
<div class="radio radio-danger">
    <input type="radio" name="radio1" id="radio7" value="option7" disabled>
    <label for="radio7">Disabled</label>
</div>