<div class="form-group">
  <label for="example-date-input" class="col-form-label">Date</label>
  <input id="example-date-input" class="form-control" type="date" value="2011-08-19" id="example-date-input">

</div>
<div class="form-group">
  <label for="example-month-input" class="col-form-label">Month</label>
  <input id="example-month-input" class="form-control" type="month" value="2011-08" id="example-month-input">
</div>

<div class="form-group">
  <label for="example-week-input" class="col-form-label">Week</label>
  <input id="example-week-input" class="form-control" type="week" value="2011-W33" id="example-week-input">
</div>

<div class="form-group">
  <label for="example-time-input" class="col-form-label">Time</label>
  <input id="example-time-input" class="form-control" type="time" value="13:45:00" id="example-time-input">
</div>

<div class="form-group">
  <label for="example-color-input" class="col-form-label">Color</label>
  <input id="example-color-input" class="form-control" type="color" value="#563d7c" id="example-color-input">
</div>