<!-- Megamenu dropdown items go here -->
<ul class="nav navbar-nav navbar-megamenu">
    {{> molecules-about }}
    {{> molecules-academics }}
    {{> molecules-admission-aid }}
    {{> molecules-campus-experience }}
    {{> molecules-research }}
    {{> molecules-health-sciences }}
</ul><!-- /.nav -->