<ul class="nav navbar-nav">
    <li><a href="#">About <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Magazine &amp; Publications</a></li>
    <li><a href="#">For Press</a></li>
    <li><a href="#">Inside Emory</a></li>
    <li><a href="#">Emory Home</a></li>
    <li><a href="#">Subscribe</a></li>
</ul><!-- /.nav -->