<div class="alert alert-success {{ styleModifier }}" role="alert">
  <p>You successfully read this important alert message.</p>
</div>
<div class="alert alert-info {{ styleModifier }}" role="alert">
  <p>This alert needs your attention, but it's not super important.</p>
</div>
<div class="alert alert-warning {{ styleModifier }}" role="alert">
  <p>Better check yourself, you're not looking too good.</p>
</div>
<div class="alert alert-danger {{ styleModifier }}" role="alert">
  <p>Change a few things up and try submitting again.</p>
</div>