<!-- Print cover page -->
{{> organisms-print-cover-page(pageTitle: "Emory News Center: Topic Here") }}

<!-- Header -->
{{> organisms-header-news-center:navbar-fixed-top }}

<!-- Page content -->
<div class="page news-center-page news-center-topic-page" id="page">
	{{> atoms-background:desaturate }}
	<main role="main">
		{{> organisms-news-center-topic-body }}
	</main><!--/main-->
</div>

<!-- Footer -->
{{> organisms-footer-news-center }}