<div class="heading-group">
   	<h1 class="heading-group__title">{{ headline }}</h1>
   	<h2 class="heading-group__subtitle">{{ description.short }}</h2>
	<p class="lead">{{ description.medium }}</p>
</div>