<header role="banner" class="header" >

  <!-- Skip Navigation for screen readers -->
  <a href="#mainContent" class="sr-only">Skip to main content</a>

  {{> molecules-navbar:opacity }}
</header>

<!-- Screen Reader anchor to main content -->
<a name="mainContent"></a>