<div class="cover-page print-only page-break" aria-hidden="true">
	{{> atoms-logo-vertical-full }}
    <br />
	{{> molecules-copyright }}
	{{> molecules-address }}
    <a href="http://www.emory.edu">www.emory.edu</a>
    <br />
    <span class="cover-page__title">{{ pageTitle }}</span>
</div>