<div class="calendar">
    <div class="calendar__header">
        <button role="button" aria-label="Previous Month" title="Previous Month" class="calendar__arrow-left"></button>
        <h3 class="calendar__month">August 2017</h3>
        <button role="button" aria-label="Next Month" title="Next Month" class="calendar__arrow-right"></button>
    </div>

    <ol class="calendar__week">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
    </ol>
    
    <ol class="calendar__body">
        <!-- Row -->
        <li class="disabled">
            <span class="calendar__date">30</span>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li class="disabled">
            <span class="calendar__date">31</span>
        </li>
        <li>
            <a 
                href="#" 
                data-toggle="tooltip" 
                data-placement="top" 
                title="View all Aug 1 Events"
                class="calendar__date">31</a>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <a 
                href="#" 
                data-toggle="tooltip" 
                data-placement="top" 
                title="View all Aug 2 Events"
                class="calendar__date">2</a>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <a 
                href="#" 
                data-toggle="tooltip" 
                data-placement="top" 
                title="View all Aug 3 Events"
                class="calendar__date">3</a>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">4</span>
        </li>
        <li>
            <a 
                href="#" 
                data-toggle="tooltip" 
                data-placement="top" 
                title="View all Aug 5 Events"
                class="calendar__date">5</a>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>

        <!-- Row -->
        <li>
            <span class="calendar__date">6</span>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li class="current">
            <span class="calendar__date">7</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">8</span>
        </li>
        <li>
            <span class="calendar__date">9</span>
        </li>
        <li>
            <span class="calendar__date">10</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">11</span>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">12</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>

        <!-- Row -->
        <li>
            <span class="calendar__date">13</span>
        </li>

        <li>
            <span class="calendar__date">14</span>
        </li>
        <li>
            <span class="calendar__date">15</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">16</span>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">17</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">18</span>
        </li>
        <li>
            <span class="calendar__date">19</span>
        </li>

        <!-- Row -->
        <li>
            <span class="calendar__date">20</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">21</span>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">22</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">23</span>
        </li>
        <li>
            <span class="calendar__date">24</span>
        </li>
        <li>
            <span class="calendar__date">25</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">26</span>
            <ol>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>

        <!-- Row -->
        <li>
            <span class="calendar__date">27</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">28</span>
        </li>
        <li>
            <span class="calendar__date">29</span>
            <ol>
                <li><a href="#">Event Item</a></li>
                <li><a href="#">Event Item</a></li>
            </ol>
        </li>
        <li>
            <span class="calendar__date">30</span>
        </li>
        <li>
            <span class="calendar__date">31</span>
        </li> 
        <li class="disabled">
            <span class="calendar__date">1</span>
        </li>
        <li class="disabled">
            <span class="calendar__date">2</span>
        </li>
    </ol>
</div>
{{> atoms-button(btnIcon: true, icon: "fa-download", btnStyle: "btn-primary btn-sm btn-solid", button: "Export Calendar") }}