<ol class="breadcrumb {{ styleModifier }}">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li><a href="#">Data</a></li>
  <li class="active">Current</li>
  {{# progress }}
  <li class="disabled"><a href="#">Next</a></li>
  <li class="disabled"><a href="#">Last</a></li>
  {{/ progress }}
</ol><!-- /.breadcrumb -->