<nav role="navigation" aria-label="Pagination">
  <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous" title="Previous">
        <span aria-hidden="true"><span class="fa fa-chevron-left" aria-hidden="true"></span></span>
      </a>
    </li>
    <li class="disabled"><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next" title="Next">
        <span aria-hidden="true"><span class="fa fa-chevron-right" aria-hidden="true"></span></span>
      </a>
    </li>
  </ul><!-- /.pagination -->
</nav>