<button
    type="button"
    data-toggle="popover"
    data-placement="{{ popoverPlacement }}"
    tabindex="0"
    data-trigger="focus"
    aria-label="{{ title }}"
    title="{{ title }}"
    data-content="{{ message }}"
><span class="fa fa-{{ icon }}" aria-hidden="true"></span>
</button><!-- /.popover -->