<a 
    href="#" 
    data-toggle="tooltip" 
    data-placement="top" 
    title="Good day!">Top Tooltip</a>

{{# tooltipExtras }}

<a href="#" data-toggle="tooltip" data-placement="top" title="Good day!">Top Tooltip</a>

<a href="#" data-toggle="tooltip" data-placement="right" title="Hola mi amigo!">Right Tooltip</a>

<a href="#" data-toggle="tooltip" data-placement="bottom" title="Ohayou gozaimasu!">Bottom Tooltip</a>

<a href="#" data-toggle="tooltip" data-placement="left" title="Bonjour!">Left Tooltip</a>

{{/ tooltipExtras }}