<header class="article-header">
    <div class="article-header__img">
        {{> molecules-figure-with-caption }}
    </div>
    <hr />
    <span class="label label-primary label-lg">Category</span>
    <h1>Completely administrate leading-edge value before.</h1>
    {{> molecules-intro-text }}
    <h2 class="article-header__date">Emory Report / March 9, 2017</h2>
    {{> molecules-byline }}
    {{> molecules-social-share }}
</header>