<div class="hero-image hero-image-{{ styleModifier }}">
    <div class="hero-image__textarea">
        <h1 class="hero-image__title">Standard Hero</h1>
        <h2 class="hero-image__subtitle">Here's a neato little subtitle.</h2>
    </div>
</div>