<div class="hero-image-overlap">
    <div class="hero-image-overlap__bg">
        <div class="hero-image-overlap__img {{ wideImg }}">
            <img src="{{ heroImage }}" alt="A hero image randomly picked from stock photos."/>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <div class="hero-image-overlap__textarea">
                    <h1 class="hero-image-overlap__label">{{ label }}</h1>
                    <h2 class="hero-image-overlap__title">{{ title }}</h2>
                    <p class="lead">{{ lead }}</p>
                    <p>{{ excerpt }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

