<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with a groups">
  <span class="sr-only">Share on Social Media</span>
  <div class="social-media btn-group" role="group" aria-label="Social media links">
    <a href="{{ socialMedia.twitter.href }}" class="btn btn-{{ socialMedia.twitter.class }}" title="{{ socialMedia.twitter.title }}"><span class="sr-only">Twitter</span></a>
    <a href="{{ socialMedia.facebook.href }}" class="btn btn-{{ socialMedia.facebook.class }}" title="{{ socialMedia.facebook.title }}"><span class="sr-only">Facebook</span></a>
    <a href="{{ socialMedia.googleplus.href }}" class="btn btn-{{ socialMedia.googleplus.class }}" title="{{ socialMedia.googleplus.title }}"><span class="sr-only">Google Plus</span></a>
    <a href="{{ socialMedia.linkedin.href }}" class="btn btn-{{ socialMedia.linkedin.class }}" title="{{ socialMedia.linkedin.title }}"><span class="sr-only">LinkedIn</span></a>
  </div><!-- /.social-media -->
  <div class="social-media btn-group" role="group" aria-label="Other sharing options">
    <a href="#" class="btn btn-email" title="Email"><span class="sr-only">Email this Page</span></a>
    <a href="#" class="btn btn-print" title="Print"><span class="sr-only">Print this Page</span></a>
    <a href="#" class="btn btn-url" title="Copy URL"><span class="sr-only">Copy URL</span></a>
  </div><!-- /.social-media -->
  <div class="social-media btn-group" role="group" aria-label="More sharing options">
    <a href="#" class="btn btn-more" title="More Options"><span class="sr-only">More Sharing Options</span></a>
  </div><!-- /.social-media -->
</div><!-- /.btn-toolbar -->