<li class="comment__item row">
	<div class="comment__meta col-sm-3">
		{{> atoms-avatar }}
		<div class="comment__name"><a href="#">{{ name.first }} {{ name.last }}</a></div>
	</div>
	<div class="comment__text col-sm-9">
		<p>{{ description.long }}</p>
	</div>
</li><!-- /.comment__item -->

