<div class="tag-cloud">
    <h2 class="heading-bg">{{ tagCloud }}</h2>
    <ul class="tag-cloud__tags">
        {{# listItems.seven }}
        <li><a href="#">{{ list.short }}</a></li>
        {{/ listItems.seven }}
    </ul><!-- /.tag-cloud__tags -->
</div><!-- /.tag-cloud -->