<ol id="owl-carousel-horizontal" class="owl-carousel">
    
    <!-- Slide -->
    <li class="owl-carousel__item" href="#">
        <img class="img-responsive" src="{{ includesPath }}images/carousel/john-c-reilly.jpg" alt="alt"/>
        <div class="owl-carousel__textarea">
            <h3 class="owl-carousel__title">John C. Reilly</h3>
            <p>{{ description.short }}</p>
        </div>
    </li>
    
    <!-- Slide -->
    <li class="owl-carousel__item" href="#">
        <img class="img-responsive" src="{{ includesPath }}images/carousel/tim-heidecker.jpg" alt="alt"/>
        <div class="owl-carousel__textarea">
            <h3 class="owl-carousel__title">Tim Heidecker</h3>
            <p>{{ description.short }}</p>
        </div>
    </li>
    
    <!-- Slide -->
    <li class="owl-carousel__item" href="#">
        <img class="img-responsive" src="{{ includesPath }}images/carousel/eric-wareheim.jpg" alt="alt"/>
        <div class="owl-carousel__textarea">
            <h3 class="owl-carousel__title">Eric Wareheim</h3>
            <p>{{ description.short }}</p>
        </div>
    </li>
    
    <!-- Slide -->
    <li class="owl-carousel__item" href="#">
        <img class="img-responsive" src="{{ includesPath }}images/carousel/leeroy-jenkins.jpg" alt="alt"/>
        <div class="owl-carousel__textarea">
            <h3 class="owl-carousel__title">Leeroy Jenkins</h3>
            <p>{{ description.short }}</p>
        </div>
    </li>
    
    <!-- Slide -->
    <li class="owl-carousel__item" href="#">
        <img class="img-responsive" src="{{ includesPath }}images/carousel/norm-macdonald.jpg" alt="alt"/>
        <div class="owl-carousel__textarea">
            <h3 class="owl-carousel__title">Norm MacDonald</h3>
            <p>{{ description.short }}</p>
        </div>
    </li>
    
    <!-- Slide -->
    <li class="owl-carousel__item" href="#">
        <img class="img-responsive" src="{{ includesPath }}images/carousel/l-ron-hubbard.jpg" alt="alt"/>
        <div class="owl-carousel__textarea">
            <h3 class="owl-carousel__title">L. Ron Hubbard</h3>
            <p>{{ description.short }}</p>
        </div>
    </li>
</ol><!-- /.owl-carousel -->