<div class="container bootstrap-grid">
	<div class="row" style="text-align:center;">
		<div class="col-xs-3" style="padding:5rem 0;border:5px solid #999;background-color:#eee;">.col-xs-3</div>
		<div class="col-xs-3" style="padding:5rem 0;border:5px solid #999;background-color:#eee;">.col-xs-3</div>
		<div class="col-xs-3" style="padding:5rem 0;border:5px solid #999;background-color:#eee;">.col-xs-3</div>
		<div class="col-xs-3" style="padding:5rem 0;border:5px solid #999;background-color:#eee;">.col-xs-3</div>
	</div>
</div>