<h2>Font Awesome Icons</h2>
<span class="fa fa-camera-retro"></span> fa-camera-retro
<p><a href="http://fontawesome.io/icons/" target="_blank">View available icons</a></p>

<h3>Icon Sizes</h3>
<span class="fa fa-camera-retro fa-lg"></span> fa-lg
<span class="fa fa-camera-retro fa-2x"></span> fa-2x
<span class="fa fa-camera-retro fa-3x"></span> fa-3x
<span class="fa fa-camera-retro fa-4x"></span> fa-4x
<span class="fa fa-camera-retro fa-5x"></span> fa-5x

<h3>Fixed Width Icons</h3>
<div class="list-group">
  <a class="list-group-item" href="#"><span class="fa fa-home fa-fw" aria-hidden="true"></span>&nbsp; Home</a>
  <a class="list-group-item" href="#"><span class="fa fa-book fa-fw" aria-hidden="true"></span>&nbsp; Library</a>
  <a class="list-group-item" href="#"><span class="fa fa-pencil fa-fw" aria-hidden="true"></span>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><span class="fa fa-cog fa-fw" aria-hidden="true"></span>&nbsp; Settings</a>
</div>

<h3>List Icons</h3>
<ul class="fa-ul">
  <li><span class="fa-li fa fa-check-square"></span>List icons</li>
  <li><span class="fa-li fa fa-check-square"></span>can be used</li>
  <li><span class="fa-li fa fa-spinner fa-spin"></span>as bullets</li>
  <li><span class="fa-li fa fa-square"></span>in lists</li>
</ul>

<h3>Stacked Icons</h3>
<span class="fa-stack fa-lg">
  <span class="fa fa-square-o fa-stack-2x"></span>
  <span class="fa fa-twitter fa-stack-1x"></span>
</span>
fa-twitter on fa-square-o<br>
<span class="fa-stack fa-lg">
  <span class="fa fa-circle fa-stack-2x"></span>
  <span class="fa fa-flag fa-stack-1x fa-inverse"></span>
</span>
fa-flag on fa-circle<br>
<span class="fa-stack fa-lg">
  <span class="fa fa-square fa-stack-2x"></span>
  <span class="fa fa-terminal fa-stack-1x fa-inverse"></span>
</span>
fa-terminal on fa-square<br>
<span class="fa-stack fa-lg">
  <span class="fa fa-camera fa-stack-1x"></span>
  <span class="fa fa-ban fa-stack-2x text-danger"></span>
</span>
fa-ban on fa-camera
