<h3 class="heading-bg">Featured Articles <a href="#" class="pull-right">View All</a></h3>
<div class="row">
	<div class="col-sm-6">{{> molecules-textbox:article(image: true, textboxLabel: true, label: "Sustainability", headline: "Awards Keep Pouring in for Emory's WaterHub", textboxMeta: true) }}</div>
	<div class="col-sm-6">{{> molecules-textbox:article(image: true, textboxLabel: true, label: "Science", headline: "Jared Box: From Singapore to Sociology", textboxMeta: true) }}</div>
</div>