<h3 class="heading-bg">Featured Events <a href="#" class="pull-right">View All</a></h3>
<div class="row">

	<div class="col-sm-4">{{> molecules-textbox:event(textboxLabel: true, textboxExcerpt: true, textboxMeta: true, label: "Today", headline: "Glenn Memorial United Methodist Church Worship") }}</div>
	<div class="col-sm-4">{{> molecules-textbox:event(textboxLabel: true, textboxExcerpt: true, textboxMeta: true, label: "Tomorrow", headline: "Progressively disintermediate equity invested") }}</div>
	<div class="col-sm-4">{{> molecules-textbox:event(textboxLabel: true, textboxExcerpt: true, textboxMeta: true, label: "Wednesday", headline: "Compellingly visualize visionary process") }}</div>

</div>


