<div class="row">
	<div class="col-sm-6">{{> molecules-textbox:cta(image: true, textboxLabel: true, label: "Campus Experience", headline: "From Community Comes Unity. One Big Intellectual Family.", textboxExcerpt: true, excerpt: "Dramatically integrate high standards in portals and efficient process improvements. Globally cultivate interdependent information without resource sucking.", moreBtn: true) }}</div>
	<div class="clearfix visible-xs-block hidden-sm"></div>
	<div class="col-sm-6">{{> molecules-textbox:cta(image: true, textboxLabel: true, textboxExcerpt: true, moreBtn: true, label: "Visit Emory", headline: "Plan a Visit.", excerpt: "Rapidiously cultivate stand-alone partnerships before enterprise paradigms. Synergistically leverage existing bleeding-edge scenarios without superior meta-services. Efficiently orchestrate.") }}</div>
</div>