<h3 class="heading-bg">In the Media <a href="#" class="pull-right">View All</a></h3>
{{> molecules-textbox:external(textboxLabel: true, externalBtn: true, textboxMeta: true, label: "New York Times", headline: "Why Michelle Obama has a prime spot at the Democratic National Convention", meta: "In the News") }}
{{> molecules-textbox:external(textboxLabel: true, externalBtn: true, textboxMeta: true, label: "New York Times", headline: "Why Michelle Obama has a prime spot at the Democratic National Convention", meta: "In the News") }}