<h3 class="heading-bg">Featured in Research <a href="#" class="pull-right">View All</a></h3>
<div class="row">
	<div class="col-sm-4">{{> molecules-textbox:external(textboxLabel: true, externalBtn: true, textboxMeta: true, label: "New York Times", headline: "Why Michelle Obama has a prime spot at the Democratic National Convention", meta: "In the News") }}</div>
	<div class="col-sm-4">{{> molecules-textbox:article(textboxLabel: true, textboxMeta: true, label: "Science", headline: "Students explore Tibetan perspectives on mind-body connections", meta: "Emory Winship") }}</div>
	<div class="col-sm-4">{{> molecules-textbox:article(textboxLabel: true, textboxMeta: true, label: "Technology", headline: "Distinctively impact interactive mindshare whereas high standards", meta: "Emory Winship") }}</div>
</div>