<div class="row">
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
</div>

<div class="row">
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
</div>

<div class="row">
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
</div>

<div class="row">
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
    <div class="col-sm-4">{{> molecules-textbox:article(textboxMeta: true) }}</div>
</div>

{{> molecules-pagination }}