<div class="marketing">
    <div class="container">
        <h2 class="marketing__title">The Emory Experience</h2>
        <h3 class="marketing__message">Here, We Educate The Whole Person. Heart, Mind, Character—Everything Plays A Part. And When One Of Us Succeeds, We All Share The Pride.</h3>
        <p>See how Emory Students are questioning what the world can be, all in the name of making it better. Then take the steps to follow in their footsteps.</p>
        
        {{# cta }} 
            <br />
            {{> atoms-button(btnStyle: "btn-default btn-lg", button: "Learn More") }}
        {{/ cta }}

    </div>
</div>