<div class="icon-grid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
            <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/1.svg"/>
            </div>
            <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
             <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
             <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/2.svg"/>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
            <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/3.svg"/>
            </div>
            <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
             <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
             <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/4.svg"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
            <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/5.svg"/>
            </div>
            <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
             <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
             <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/6.svg"/>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
            <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/7.svg"/>
            </div>
            <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-3 icon-grid__item">
             <div class="icon-grid__info">
                Phosfluorescently supply maintainable e-services
            </div>
             <div class="icon-grid__icon">
                <img alt="Alt Text" src="{{ includesPath }}images/iconographics/8.svg"/>
            </div>
        </div>
    </div>
</div>