<div id="carousel" class="carousel carousel-{{ styleModifier }} carousel-fullscreen slide">
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target=".carousel" data-slide-to="0" class="active"></li>
                <li data-target=".carousel" data-slide-to="1"></li>
                <li data-target=".carousel" data-slide-to="2"></li>
                <li data-target=".carousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-lg-6">
                                    <h1>Uniquely impact <strong>enterprise</strong> alignments whereas parallel web services.</h1>
                                    <p class="lead">Conveniently grow interactive potentialities before 24/365 leadership. Seamlessly innovate end-to-end.</p>
    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-lg-4">
                                    <h2>Uniquely architect future-proof expedite granular</h2>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="youremail@domain.com">
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">Sign Up</button>
                                        </span>
                                    </div>
                                    <br />
                                    <p>Proactively mesh world-class growth strategies rather than open-source web-readiness. Monotonectally extend team.</p>
                                </div>
                            </div>
                            <!-- NEXT ARROW -->
                            <div class="carousel__arrow" data-target=".carousel" data-slide="next"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="fill">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-lg-6">
                                    <h1>Uniquely impact <strong>enterprise</strong> alignments whereas parallel web services.</h1>
                                    <p class="lead">Conveniently grow interactive potentialities before 24/365 leadership. Seamlessly innovate end-to-end.</p>
    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-lg-4">
                                    <h2>Uniquely architect future-proof expedite granular</h2>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="youremail@domain.com">
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">Sign Up</button>
                                        </span>
                                    </div>
                                    <br />
                                    <p>Proactively mesh world-class growth strategies rather than open-source web-readiness. Monotonectally extend team.</p>
                                </div>
                            </div>
                            <!-- NEXT ARROW -->
                            <div class="carousel__arrow" data-target=".carousel" data-slide="next"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="fill">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-lg-6">
                                    <h1>Uniquely impact <strong>enterprise</strong> alignments whereas parallel web services.</h1>
                                    <p class="lead">Conveniently grow interactive potentialities before 24/365 leadership. Seamlessly innovate end-to-end.</p>
    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-lg-4">
                                    <h2>Uniquely architect future-proof expedite granular</h2>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="youremail@domain.com">
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">Sign Up</button>
                                        </span>
                                    </div>
                                    <br />
                                    <p>Proactively mesh world-class growth strategies rather than open-source web-readiness. Monotonectally extend team.</p>
                                </div>
                            </div>
                            <!-- NEXT ARROW -->
                            <div class="carousel__arrow" data-target=".carousel" data-slide="next"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="fill">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-lg-6">
                                    <h1>Uniquely impact <strong>enterprise</strong> alignments whereas parallel web services.</h1>
                                    <p class="lead">Conveniently grow interactive potentialities before 24/365 leadership. Seamlessly innovate end-to-end.</p>
    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-lg-4">
                                    <h2>Uniquely architect future-proof expedite granular</h2>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="youremail@domain.com">
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">Sign Up</button>
                                        </span>
                                    </div>
                                    <br />
                                    <p>Proactively mesh world-class growth strategies rather than open-source web-readiness. Monotonectally extend team.</p>
                                </div>
                            </div>
                            <!-- NEXT ARROW -->
                            <div class="carousel__arrow" data-target=".carousel" data-slide="next"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>