<div class="infotext">

    <button class="infotext-item">
        
        <div class="infotext__initial">
            <h3 class="infotext__title">Intro Text</h3>
            <h4 class="infotext__subtitle">Optional Subtitle</h4>

            <span class="btn btn-default btn-sm">More <span class="fa fa-expand" aria-hidden="true"></span></span>
        </div><!-- .infotext__initial -->

        <div class="infotext__reveal">
            <ul class="infotext__list">
                <li>Proactively enhance flexible markets without interoperable core competencies. Proactively incubate.</li>
                <li>Globally morph next-generation technologies with front-end internal or "organic" sources.</li>
                <li>Distinctively grow covalent infrastructures via next-generation internal or "organic" sources.</li>
                <li>Dynamically administrate equity invested testing procedures after covalent action items.</li>
            </ul>
        </div><!-- .infotext__reveal -->

    </button><!-- .infotext-item -->

    <button class="infotext-item">
        
        <div class="infotext__initial">
            <h3 class="infotext__title">Intro Text</h3>
            <h4 class="infotext__subtitle">Optional Subtitle</h4>

            <span class="btn btn-default btn-sm">More <span class="fa fa-expand" aria-hidden="true"></span></span>
        </div><!-- .infotext__initial -->

        <div class="infotext__reveal">
            <ul class="infotext__list">
                <li>Proactively enhance flexible markets without interoperable core competencies. Proactively incubate.</li>
                <li>Globally morph next-generation technologies with front-end internal or "organic" sources.</li>
                <li>Distinctively grow covalent infrastructures via next-generation internal or "organic" sources.</li>
                <li>Dynamically administrate equity invested testing procedures after covalent action items.</li>
            </ul>
        </div><!-- .infotext__reveal -->

    </button><!-- .infotext-item -->

    <button class="infotext-item">
        
        <div class="infotext__initial">
            <h3 class="infotext__title">Intro Text</h3>
            <h4 class="infotext__subtitle">Optional Subtitle</h4>

            <span class="btn btn-default btn-sm">More <span class="fa fa-expand" aria-hidden="true"></span></span>
        </div><!-- .infotext__initial -->

        <div class="infotext__reveal">
            <ul class="infotext__list">
                <li>Proactively enhance flexible markets without interoperable core competencies. Proactively incubate.</li>
                <li>Globally morph next-generation technologies with front-end internal or "organic" sources.</li>
                <li>Distinctively grow covalent infrastructures via next-generation internal or "organic" sources.</li>
                <li>Dynamically administrate equity invested testing procedures after covalent action items.</li>
            </ul>
        </div><!-- .infotext__reveal -->

    </button><!-- .infotext-item -->

</div><!-- .infotext -->