<h2><span class="fa fa-paint-brush" aria-hidden="true"></span> Primary Colors</h2>
<div class="palette palette-primary">
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Catalina
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #002878
            </div>
            <div class="palette__rgb">
                rgb(0, 40, 120)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Cerulian
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #004b97
            </div>
            <div class="palette__rgb">
                rgb(0, 75, 151)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Ocean
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #007ebf
            </div>
            <div class="palette__rgb">
                rgb(0, 126, 191)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Gold
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #ffb200
            </div>
            <div class="palette__rgb">
                rgb(255, 178, 0)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Peanut
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #b17900
            </div>
            <div class="palette__rgb">
                rgb(177, 121, 0)
            </div>
        </div>
    </div>
</div>
<h2><span class="fa fa-paint-brush" aria-hidden="true"></span> Secondary Colors</h2>
<div class="palette palette-secondary">
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Aqua
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #50b7e4
            </div>
            <div class="palette__rgb">
                rgb(80, 183, 228)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Teal
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #327b8c
            </div>
            <div class="palette__rgb">
                rgb(50, 123, 140)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Evergreen
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #00846a
            </div>
            <div class="palette__rgb">
                rgb(0, 132, 106)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Forest
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #00843a
            </div>
            <div class="palette__rgb">
                rgb(0, 132, 58)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Avocado
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #5b7c00
            </div>
            <div class="palette__rgb">
                rgb(91, 124, 0)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Pumpkin
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #da5f00
            </div>
            <div class="palette__rgb">
                rgb(218, 95, 0)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Columbine
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #e31b23
            </div>
            <div class="palette__rgb">
                rgb(227, 27, 35)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Magenta
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #d500c9
            </div>
            <div class="palette__rgb">
                rgb(213, 0, 201)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Violet
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #7300ea
            </div>
            <div class="palette__rgb">
                rgb(115, 0, 234)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
             <div class="palette__name">
                Royal
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #6e2e69
            </div>
            <div class="palette__rgb">
                rgb(110, 46, 105)
            </div>
        </div>
    </div>
</div>
<h2><span class="fa fa-paint-brush" aria-hidden="true"></span> Grays</h2>
<div class="palette palette-gray">
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Raisin
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #222222
            </div>
            <div class="palette__rgb">
                rgb(34, 34, 34)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Pastel
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #c9c9c9
            </div>
            <div class="palette__rgb">
                rgb(201, 201, 201)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Timberwolf
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #d9d9d9
            </div>
            <div class="palette__rgb">
                rgb(217, 217, 217)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Platinum
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #e9e9e9
            </div>
            <div class="palette__rgb">
                rgb(233, 233, 233)
            </div>
        </div>
    </div>
    <div class="palette__item">
        <div class="palette__color">
            <div class="palette__name">
                Snow
            </div>
        </div>
        <div class="palette__info">
            <div class="palette__hex">
                #fafafa
            </div>
            <div class="palette__rgb">
                rgb(250, 250, 250)
            </div>
        </div>
    </div>
</div>