<div class="social-media {{ styleModifier }}">
    
    <a href="{{ socialMedia.twitter.href }}" class="btn btn-{{ socialMedia.twitter.class }}" title="{{ socialMedia.twitter.title }}">
        <span class="sr-only">{{ socialMedia.twitter.title }}</span>
    </a>

    <a href="{{ socialMedia.facebook.href }}" class="btn btn-{{ socialMedia.facebook.class }}" title="{{ socialMedia.facebook.title }}">
        <span class="sr-only">{{ socialMedia.facebook.title }}</span>
    </a>

    <a href="{{ socialMedia.instagram.href }}" class="btn btn-{{ socialMedia.instagram.class }}" title="{{ socialMedia.instagram.title }}">
        <span class="sr-only">{{ socialMedia.instagram.title }}</span>
    </a>

    <a href="{{ socialMedia.youtube.href }}" class="btn btn-{{ socialMedia.youtube.class }}" title="{{ socialMedia.youtube.title }}">
        <span class="sr-only">{{ socialMedia.youtube.title }}</span>
    </a>

    <a href="{{ socialMedia.linkedon.href }}" class="btn btn-{{ socialMedia.linkedin.class }}" title="{{ socialMedia.linkedin.title }}">
        <span class="sr-only">{{ socialMedia.linkedin.title }}</span>
    </a>
    
</div>