//------------------------------------//
// EMORY BRAND COLORS                 //
//------------------------------------//

// Primary Colors
$catalina:           #002878;
$cerulian:           #004b97;
$ocean:              #007ebf;
$gold:               #ffb200;
$peanut:             #b17900;

// Secondary
$aqua:               #50b7e4;
$teal:               #327b8c;
$forest:             #00843a;
$evergreen:          #00846a;
$avocado:            #5b7c00;
$pumpkin:            #da5f00;
$columbine:          #e31b23;
$magenta:            #d500c9;
$violet:             #7300ea;
$royal:              #6e2e69;

// Grays
$raisin:             #222222;
$pastel:             #c9c9c9;
$timberwolf:         #d9d9d9;
$platinum:           #e9e9e9;
$snow:               #fafafa;

//------------------------------------//
// TYPOGRAPHY                         //
//------------------------------------//

$rasmusbold:           'RasmusBold', "Times New Roman", serif;
$conduitbold:          'ConduitBold', "Arial", "Helvetica", sans-serif;

// Headings and Subheadings
$heading:              $rasmusbold;
$subheading:           $conduitbold;

//------------------------------------//
// NEWS CENTER CATEGORIES             //
//------------------------------------//

$academics:            $catalina;
$arts-culture:         $cerulian;
$community:            $ocean;
$events:               $gold;
$health:               $peanut;
$humanities:           $aqua;
$international:        $teal;
$philanthropy:         $forest;
$politics:             $evergreen;
$religion-ethics:      $avocado;
$research:             $pumpkin;
$science:              $columbine;
$service:              $magenta;
$student-life:         $violet;
$sustainability:       $royal;
$university:           $raisin;

//------------------------------------//
// SOCIAL MEDIA BRAND COLORS          //
//------------------------------------//

// https://www.lockedowndesign.com/social-media-colors/

$facebook:           #3b5998;
$twitter:            #00b6f1;
$youtube:            #b31217;
$instagram:          #c32aa3;
$googleplus:         #df4a32;
$linkedin:           #007bb6;
$snapchat:           #fffc00;
$reddit:             #ff5700;